.form {
  background-color: #556;
  background-image: linear-gradient(
      30deg,
      rgb(0, 247, 255) 12%,
      transparent 12.5%,
      transparent 87%,
      rgb(0, 247, 255) 12%,
      rgb(0, 247, 255) 12%
    ),
    linear-gradient(
      150deg,
      rgb(0, 247, 255) 12%,
      transparent 12.5%,
      transparent 87%,
      #445 87.5%,
      #445
    ),
    linear-gradient(
      30deg,
      #445 12%,
      transparent 12.5%,
      transparent 87%,
      #445 87.5%,
      #445
    ),
    linear-gradient(
      150deg,
      #445 12%,
      transparent 12.5%,
      transparent 87%,
      #445 87.5%,
      #445
    ),
    linear-gradient(
      60deg,
      rgb(0, 255, 42) 25%,
      transparent 25.5%,
      transparent 75%,
      rgb(0, 255, 42) 25%,
      rgb(0, 255, 42) 25%
    ),
    linear-gradient(
      60deg,
      rgb(0, 255, 42) 25%,
      transparent 25.5%,
      transparent 75%,
      rgb(0, 255, 42) 25%,
      rgb(0, 255, 42) 25%
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
