body {
  margin: 0;
  font-family: "Courier New", Courier, nonospace;
  background: #192041;
  /*background: linear-gradient(89deg, #5eff5e 0%, #283468 100%);*/
}

button {
  cursor: pointer;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
